.App {
    text-align: center;
    height: 100vh;
    overflow: hidden;
    background-image: var(--main-gradient-reversed)
}

input {
    border-radius: 5px;
    box-shadow: var(--shadow);
}

input[type="text"] {
    height: 2rem;
    font-size: 1.5rem;
    width: 100%;
    padding: 1.5rem;
    border-top: 2px solid var(--dark-color);
    border-left: 2px solid var(--dark-color);
    border-bottom: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
}

:focus {
    box-shadow: 0 0 .2rem .2rem rgba(135, 86, 201, 0.5);
    outline: none !important;
}


input[type="text"]:focus {
    border-top: 2px solid var(--dark-secondary-color);
    border-left: 2px solid var(--dark-secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
}


::-moz-focus-inner {
    outline: none;
}

::-moz-focus-outer {
    outline: none;
}


.room::after {
    content: "Room Name";
    color: black;
    font-size: .8rem;
    position: absolute;
    left: 50%;
    transform: translate(-110px, 10px);
    animation: fadeIn .3s ease-in;
    margin-bottom: 1px;

}

.user::after {
    content: "Nickname";
    color: black;
    font-size: .8rem;
    position: absolute;
    left: 50%;
    transform: translate(-110px, 10px);
    animation: fadeIn .3s ease-in;
}

.room-data .btn {
    margin-top: 1rem;
}

.toast {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    width: 300px;
    max-height: 90vh;
    overflow-y: auto;
    font-family: monospace;
    z-index: 9999;
    padding: 1rem 1rem;
    animation: fadeIn .3s ease-in;
}

.toast-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.toast-container-item {
    border: var(--primary-color) solid 1px;
    margin: 5px 5px;
    padding: 2rem;
    border-radius: 7px;
    width: 100%;
    min-height: 3rem;
    word-wrap: break-word;
    background-color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
}

.toast-close {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 20px;
    font-weight: 800;
}

.success {
    background-color: #79a079;
}

.info {
    background-color: #af90fd;
}

.danger {
    background-color: var(--secondary-color);
}