@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #a64dff;
    --secondary-color: #8c1aff;
    --dark-color: #582297;
    --light-color: #d5b3ff;
    --main-gradient: linear-gradient(0deg, #a64dff 20%, #8c1aff);
    --main-gradient-reversed: linear-gradient(0deg, #8c1aff 20%, #a64dff);
    --glass-gradient: linear-gradient(to right top, rgba(242, 230, 255, 0.6), rgba(244, 240, 255, 0.8) 60%)
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

body {
    line-height: 1.6;
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #bbbbbb;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.card {
    background-color: white;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    padding: 20px;
    margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);

}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);

}

.btn {
    display: inline-block;
    padding: .7em 2em;
    cursor: pointer;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: var(--shadow);
}

.btn-outline {
    background-color: transparent;
    border: 1px solid white;
}

.btn:hover {
    transform: scale(.98);
}

/* Colors */
.bg-primary, .btn-primary {
    background-color: var(--primary-color);
}

.bg-dark, .btn-dark {
    background-color: var(--dark-color);
}

.bg-light, .btn-light {
    background-color: var(--light-color);
}

.bg-grad {
    background-image: var(--main-gradient);
}

.btn-primary {
    background-image: var(--main-gradient-reversed);
}

.text-dark {
    color: var(--dark-color);
}

.lead {
    font-size: 20px;
}

.xs {
    font-size: .8rem;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 2.5rem;
}

.xl {
    font-size: 4rem;
}

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

.w-max-content {
    width: max-content;
}

.max-width {
    width: 100%;
}

@media (min-width: 768px) {
    .md-hidden {
        display: none;
    }
}

@media (max-width: 768px) {
    .sm-hidden {
        display: none;
    }
}

:focus {
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, .35);
    outline: none;
}

::-moz-focus-inner {
    outline: none;
    border: 0;
}

::-moz-focus-outer {
    border: 0;
    outline: none;
}